<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/styles/styles.css">
    </head>

    <body>
        <div class='container'>
            {% block page %}
            {% endblock %}
        </div>
    </body>
        <script src='/assets/scripts/pageScrollers.js'></script>
        <script src='/assets/scripts/modalMobileMenu.js'></script>
</html>