---
layout: page.njk
---


<section class='frontispiece'>
    <img class='frontispiece-image' id='header-link' src='assets/images/frontispiece-image.png'/>
    {% include 'components/header.njk' %}
</section>

