{% extends 'base.njk' %}

{% macro sections(section) %}
<section class='{{ section.data.linkTitle }}'>
    <div class='info'>
        {% if section.data.grid %}
        {% grid %}
        {% if section.data.subHeading %}
        <h2>{{section.data.subHeading | safe}}</h2>
        {% endif %}
        {{section.templateContent | safe}}
        {% endgrid %}
        {% else %}
        {% if section.data.subHeading %}
        <h2>{{section.data.subHeading | safe}}</h2>
        {% endif %}
        {{section.templateContent | safe}}
        {% endif %}
    </div>
    <div class='spacer'></div>
</section>
{% endmacro %}

{% block page %}

{% block inner %}
<section class='page-header'>
    <img class='page-header-image' id='header-link' src='assets/images/frontispiece-image.png'/>
    {% include 'components/header.njk' %}
</section>
{% endblock %}

{% for section in collections[collection] %}
{{sections(section)}}
{% endfor %}

{% include 'components/footer.njk' %}

{% endblock %}