@font-face {
  font-family: "Lobster";
  src: url("/assets/fonts/Lobster-Regular.woff2") format("woff2"),
    url("/assets/fonts/Lobster-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  /*margin: 0;
    padding: 0;*/
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #26e089;
}
a[aria-current] {
  color: #178652;
}
.container {
  margin-top: -15px;
  display: grid;
  grid-template-columns: 1fr minmax(240px, 4fr) 1fr;
}
section {
  /*position: relative;*/
  grid-column-start: 2;
  grid-column-end: -2;
}
section h1 {
  font-family: "Lobster", "Butler", Georgia, Times, serif;
  font-size: 3.5rem;
  letter-spacing: -0.05em;
}
section h3,
section h2,
footer h3,
footer h2 {
  font-family: "American Typewriter", "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 100;
}
#header-link {
  cursor: pointer;
}
.spacer {
  height: 137.5px;
}
.frontispiece .spacer {
  height: 550px;
}
.frontispiece-image,
.page-header-image {
  width: 110%;
  margin-left: -5%;
}
.title {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  width: fit-content;
  margin-top: -1em;
  top: 5vh;
}
.frontispiece .title {
  top: 40vh;
}
.subtitle {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -1;
  margin-bottom: 3.5rem;
}
.subtitle * {
  text-align: center;
  font-weight: 300;
}
.subtitle .fr {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.header {
  top: -0.5rem;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 0;
  margin-bottom: 3.5rem;
}
.header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header .social li {
  padding-right: 20px;
}
.header .local li {
  padding-left: 20px;
  font-weight: 200;
}
.section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: top;
  grid-gap: 1rem;
}
footer::before {
  height: 550px;
}
footer {
  height: 150px;
  border-top: 1px solid black;
  grid-column-start: 2;
  grid-column-end: -2;
  /* box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.2); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
/*@media screen and (min-width : 421px) {*/
@media screen and (min-width: 1036px) {
  #header-dropdown {
    display: none;
  }
  .header-container {
    top: -200px;
  }
  .header-container.fixed {
    transition: all 1s;
    position: fixed;
    width: calc(100vw / 6 * 4);
    height: 6rem;
    background-color: white;
  }
  .header-container.fixed .header {
    position: relative;
    top: 0;
  }
  .header-container.fixed .title {
    position: relative;
    top: 0;
  }
  .header-container.fixed .subtitle {
    position: relative;
    top: -6.9rem;
  }
  .header-container.fixed .frontispiece-spacer {
    height: 0;
  }
  .header-container.fixed.drop-down {
    top: 0px;
  }
}
/*@media screen and (max-width : 420px) {*/
@media screen and (max-width: 1035px) {
  .title {
    text-align: left;
    line-height: 0.8;
  }
  .subtitle {
    position: relative;
  }
  .subtitle * {
    text-align: left;
  }
  #header-dropdown {
    position: relative;
    right: 0;
    transition: all 1s;
    z-index: 2;
  }
  /*#header-dropdown.show {
        position: fixed;
        float: none;
        top: 30px;
        right: 30px;
        z-index: 2;
    }*/
  .title {
    transition: all 1s;
    z-index: 2;
  }
  .title.show {
    position: fixed;
    top: 30px;
    margin-top: 0;
  }
  .header {
    width: 100%;
    max-width: calc(100vw / 6 * 4);
    display: flex;
    justify-content: flex-end;
    background-color: white;
  }
  .header.show {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .header nav {
    transition: all 1s;
  }
  .header.show nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
  }
  .header nav .links {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
  }
  .header.show nav .links {
    display: flex;
  }
  .header .social li,
  .header .local li {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
  }
}
